<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <table
      width="600;" border="0" align="center" cellspacing="0" cellpadding="0"
      style="padding-left: 30px; padding-right: 30px; padding-top: 30px; padding-bottom: 30px;"
    >
      <tr>
        <td>
          <h1 style="font-family: 'Inter', 'Arial', sans-serif;
            font-weight: 500;
            font-size: 26px;
            line-height: 31px;
          ">
            Восстановление пароля для поратала ADT
          </h1>
        </td>
      </tr>

      <tr>
        <td>
          <%= image_tag(attachments['logo.svg'].url, alt: "Логотип РЖД", width: "74") %>
        </td>
      </tr>

      <tr>
        <td>
          <p style="font-family: 'Inter', 'Arial', sans-serif; font-weight: 500;">Забыли пароль?</p>
        </td>
      </tr>

      <tr>
        <td>
          <p style="font-family: 'Inter', 'Arial', sans-serif;
            font-weight: 300; line-height: 19px;
            padding-bottom: 30px;">
            Для
            восстановления пароля
            нажмите кнопку</p>
        </td>
      </tr>

      <tr>
        <td>
          <%= link_to 'Восстановить', "#{root_url}?token=#{@token}",
                      style: "
                           font-size: 16px;
                           line-height: 19px;
                           font-family: 'Inter', 'Arial', sans-serif;
                           font-weight: 500;
                           color:#FFFFFF ;
                           text-decoration: none;
                           padding-left: 15px; padding-right: 15px; padding-top: 12px; padding-bottom: 12px;
                           border-radius: 4px;
                           background-color: #096BEF;"
          %>
        </td>
      </tr>

      <tr>
        <td>
          <p style="font-family: 'Inter', 'Arial', sans-serif;
            font-weight: 300; padding-top: 30px ">
            Если вы не запрашивали
            востановление пароля, просто игнорируйте это письмо.</p>
        </td>
      </tr>
    </table>
  </tr>
</table>
